USE [master]
GO
/****** Object:  Database [SWPDB]    Script Date: 02/10/2021 10:12:34 ******/
CREATE DATABASE [SWPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SWPDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SWPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SWPDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWPDB]
GO
/****** Object:  Table [dbo].[account]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](30) NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[category]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[genre]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[songID] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
 CONSTRAINT [PK_genre] PRIMARY KEY CLUSTERED 
(
	[songID] ASC,
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[listDetail]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listDetail](
	[playlistID] [int] NOT NULL,
	[songID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[playlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[playlist]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[playlist](
	[playlistID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) NULL,
	[playlistName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[playlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[singer]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[singer](
	[singerID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[info] [text] NULL,
	[img] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[singerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[song]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[song](
	[songID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[img] [text] NULL,
	[uri] [text] NULL,
	[likeCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[songID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[songOf]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songOf](
	[songID] [int] NOT NULL,
	[singerID] [int] NOT NULL,
 CONSTRAINT [PK_songOf] PRIMARY KEY CLUSTERED 
(
	[songID] ASC,
	[singerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user]    Script Date: 02/10/2021 10:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[username] [varchar](30) NOT NULL,
	[fullName] [varchar](50) NULL,
	[email] [varchar](30) NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[genre]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[category] ([categoryID])
GO
ALTER TABLE [dbo].[genre]  WITH CHECK ADD FOREIGN KEY([songID])
REFERENCES [dbo].[song] ([songID])
GO
ALTER TABLE [dbo].[listDetail]  WITH CHECK ADD FOREIGN KEY([songID])
REFERENCES [dbo].[song] ([songID])
GO
ALTER TABLE [dbo].[listDetail]  WITH CHECK ADD  CONSTRAINT [FK_listDetail] FOREIGN KEY([playlistID])
REFERENCES [dbo].[playlist] ([playlistID])
GO
ALTER TABLE [dbo].[listDetail] CHECK CONSTRAINT [FK_listDetail]
GO
ALTER TABLE [dbo].[playlist]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[user] ([username])
GO
ALTER TABLE [dbo].[songOf]  WITH CHECK ADD FOREIGN KEY([singerID])
REFERENCES [dbo].[singer] ([singerID])
GO
ALTER TABLE [dbo].[songOf]  WITH CHECK ADD FOREIGN KEY([songID])
REFERENCES [dbo].[song] ([songID])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user] FOREIGN KEY([username])
REFERENCES [dbo].[account] ([username])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user]
GO
USE [master]
GO
